/* * {
    border: 1px solid rgb(56, 55, 55);
} */

body {
    display: flex;
    margin: 0px;
    font-family: 'IBM Plex Sans';
    /* color: grey; */
}

h1 {
    margin: 10px;
}

header {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    height: 100vh;
    position: sticky;
    top: 0;
    background-color: white;
}

nav {
    padding: 0px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.socials {
    display: flex;
    margin-top: auto;
    justify-content: space-around;
}
/* .hamburger {

} */

main {
    vertical-align: top;
    margin: 50px 10px 10px 10px;
    flex-grow: 1;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

a {
    color: black;
}

ul li a {
    list-style-type: none;
    text-decoration: none;
}

a:hover, a:active {
    color: grey;
}

ul li {
    color: black;
}

.site-navigation li {
    padding: 10px;
}

fieldset {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

label, input {
    padding: 5px;
}

.contactbtn {
    padding: 5px;
    margin: 5px;
    width: 100px;
    align-self: center;
}

.images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    padding: 0;
    max-width: 980px;
    margin-top: 50px;
}

img {
    flex: 2;
    width: 100%;
    display: block;
    float: left;
    flex: 0 0 auto;
    background-color: #fff;
    align-self: center;
    border-radius: 5px;
    padding-bottom: 2px;
}

.img-col {
    flex: 2;
    width: 45%;
    padding: 1px;
    
}

.about {
    max-width: 600px;
}

aside {
    margin: 80px 10px 10px 10px;
}

.title-nav {
    text-decoration: none;
    color: black;
}

/* .socials {
    width: 120px;
} */

@media (max-width: 1024px) {
    body {
        flex-direction: column;
    }
    header {
        flex-direction: row;
        height: 50px;
    }
    nav {
        background-color: white;
        flex-grow: 1;
        padding-top: 10px;
        flex-direction: row;
    }
    .site-navigation {
        flex-direction: row;
        display: flex;
        margin-top: auto;
        justify-content: space-around;
        flex-grow: 1;
    }

    .socials {
        min-width: 120px;
        padding: 5px;
    }
    main {
        margin: 10px;
    }
    aside {
        margin: 10px;
    }

}

@media (max-width: 640px) {
    header {
        flex-direction: column;
        height: 200px;
    }

    nav {
        flex-direction: column;

    }

    .site-navigation {
        flex-direction: column;
        text-align: center;
    }

    .socials {
        width: 80px;
        align-self: center;
    }

}