body {
    background-color: lavender;
}

#div-id {
    background-color: peachpuff;
}

.list-item {
    background-color: darkseagreen;
}

.main-heading {
    background-color: lightskyblue;
}

#first-paragraph {
    background-color: lightcoral;
}

/*

CSS selectors
type: match a given <tag> name
class: match a given class attr | multiple elem to have same matching styles
ID: match a given id attr | one elem to have styles applied

note: also works for changing a tag background-colors, but probably not best practice (including adding the class to the html tag);
.class-nav-item {
    background-color: mediumpurple
} */

a {
    background-color: mediumpurple;
}

#id-nav-item {
    background-color: gold;
}

